.educational-card{
    box-sizing: border-box;
    display: flex; 
    width: 63.8rem;
    max-width: 100%;
    min-width: 35rem;
    flex-direction: column;
    gap: 3.2rem;
    padding: 1.6rem;
    border-radius: 4rem;
    background-color: var(--card-color);

    @include mobile{
        padding: 1.2rem;
        gap: 2rem;
        border-radius: 3.2rem;
        width: 35rem;
    }

    &__top{
        position: relative;
        width: 100%;
        z-index: 100;
    }

    &__picture{
        display: block;
        position: relative;
        width: 100%;
        font-size: 0;
        text-decoration: none;
        overflow: hidden;
        border-radius: 2.8rem;

        @include mobile{
            border-radius: 2.4rem;
        }

        &::after{
            content: "";
            display: block;
            width: 100%;
            padding-top: 58.62%;
        }
    }

    &__img{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__tag{
        box-sizing: border-box;
        position: absolute;
        top: 2.4rem;
        left: 2.4rem;
        z-index: 100;
    }

    &__info{
        display: flex;
        padding: 0 1.6rem 1.6rem 1.6rem;
        flex-direction: column;
        gap: 2.4rem;

        @include mobile{
            gap: 2rem;
            padding: 0 8px 8px 8px;
        }
    }

    &__title{
        display: inline-flex;
        color: var(--text-color);
        transition: color 0.3s;
        width: 100%;

        &:hover{
            @media(hover: hover){
                color: var(--ultramarine-default-color);
            }
        }
    }

    &__descr{
        color: var(--text-secondary-promo-color);
    }
}