.event-card{
    box-sizing: border-box;
    display: flex; 
    width: 44rem;
    max-width: 100%;
    min-width: 35rem;
    flex-direction: column;
    gap: 2.4rem;
    padding: 1.6rem;
    border-radius: 4rem;
    background-color: var(--card-color);

    @include mobile{
        padding: 1.2rem;
        gap: 2rem;
        border-radius: 3.2rem;
        width: 35rem;
    }
    
    &__top{
        position: relative;
        width: 100%;
        z-index: 100;
    }

    &__picture{
        display: block;
        position: relative;
        width: 100%;
        font-size: 0;
        text-decoration: none;
        overflow: hidden;
        border-radius: 2.8rem;

        @include mobile{
            border-radius: 2.4rem;
        }

        &::after{
            content: "";
            display: block;
            width: 100%;
            padding-top: 61.764%;
        }
    }

    &__img{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__block{
        box-sizing: border-box;
        position: absolute;
        display: flex;
        width: 100%;
        padding: 1.6rem;
        justify-content: space-between;
        top: 0;
        left: 0;
        z-index: 100;
    }

    &__date {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        gap: 0;
        padding: 8px;
        background-color: var(--card-color);
        border-radius: 1.6rem;
        align-items: center;

        &-num{
            color: var(--ultramarine-default-color);
        }

        &-mon{
            color: var(--text-secondary-promo-color);
        }
    }

    &__info{
        padding: 0 1.6rem;

        @include mobile{
            padding: 0 1.2rem;
        }
    }

    &__marks{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2.4rem;
    }

    &__time{
        display: flex;
        gap: 8px;
        color: var(--text-secondary-promo-color);

        &-icon{
            width: 2rem;
            height: 2rem;

            @include mobile{
                width: 2rem;
                height: 2rem;
            }
        }

        &--complete{
            color: var(--text-blind-color);
        }

        &--today{
            color: var(--electric-green-default-color);
        }

        &--red{
            color: var(--suai-red-default-color);
        }
    }

    &__title{
        display: inline-flex;
        color: var(--text-color);
        transition: color 0.3s;
        width: 100%;
        margin-bottom: 4.4rem;

        @include mobile{
            margin-bottom: 4rem;
        }

        &:hover{
            @media(hover: hover){
                color: var(--ultramarine-default-color);
            }
        }
    }

    &__menu {
        position: relative;

        &::before{
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: var(--app-bg);
            top: -2.2rem;
            left: 0;

            @include mobile{
                top: -2rem;
            }
        }
    }

    &__list{
        display: flex;
        flex-direction: column;
        gap: 1.6rem;

        @include mobile{
            gap: 1.2rem;
        }
    }

    &__item{
        display: flex;
        gap: 1.2rem;
        align-items: center;

        &-icon{
            width: 2.4rem;
            height: 2.4rem;
        }
    }
}
