.tab{
    padding: 1.2rem 1.6rem;
    border-radius: 1.6rem;
    color: var(--text-secondary-promo-color);
    background-color: var(--gray-color-6);

    &:hover{
        @media(hover: hover){
            background-color: var(--gray-color-4);
        }
    }

    &--active{
        color: var(--text-color);
    }

    @include mobile{
        padding: 8px 1.2rem;
        border-radius: 1.2rem;
    }
}