.tab{
    padding: 12px 16px;
    border-radius: 16px;
    color: var(--text-secondary-promo-color);
    background-color: var(--gray-color-6);

    &:hover{
        @media(hover: hover){
            background-color: var(--gray-color-4);
        }
    }

    &--active{
        color: var(--text-color);
    }

    @include mobile{
        padding: 8px 12px;
        border-radius: 12px;
    }
}