.tabs{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
    &__buttons{
        display: flex;
        gap: 1.6rem;
        flex-wrap: wrap;
    }

    &__content{
        display: none;

        &--active{
            display: block;
        }
    }
}