.tag{
    display: inline-flex;
    padding: 8px 1.2rem;
    user-select: none;
    
    &--16{
        background-color: var(--card-color);
        border-radius: 1.6rem;

        @include mobile{
            border-radius: 1.2rem;
            padding: 6px 1.2rem;
        }
    }


    &--8{
        background-color: var(--gray-color-3);
        color: var(--text-secondary-promo-color);
        border-radius: 8px;

        @include mobile{
            padding: 4px 8px;
        }
    }

    &--education{
        color: var(--cyan-default-color);
        background-color: var(--cyan-light-color-2);
    }

    &--study{
        background-color: var(--purple-light-color);
        color: var(--purple-default-color);
    }

    &--science{
        background-color: var(--electric-green-light-color-2);
        color: var(--electric-green-default-color);
    }

    &--creativity{
        background-color: var(--suai-red-light-2-color);
        color: var(--suai-red-light-1-color);
    }

    &--sports{
        background-color: var(--suai-blue-light-color);
        color: var(--suai-blue-default-color);
    }
}