html {
    font-size: 62.5%;

    @media screen and (max-width: 767px) {
        font-size: calc(10px + 13 * (100vw - 375px) / 447);    
    }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        font-size: calc(10px + 4 * (100vw - 768px) / 255);    
    }
    @media (min-width: 1024px) {
        font-size: calc(8px + 2 * (100vw - 1024px) / (1440 - 1024));    
    }
}

body{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 1.6rem;
    background-color: var(--app-bg);
    color: var(--text-color);
    user-select: none;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: inherit;
    outline: none;
}

ul,
ol{
    padding: 0;
    margin: 0;
    list-style: none;
}

p{
    margin: 0;
}

.is-hidden {
    position: absolute !important;
    width: 0 !important;
    height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    clip-path: inset(100%) !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    visibility: hidden !important;
    pointer-events: none !important;
}