@mixin btn {
    display: inline-flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    outline: none;
    text-decoration: none;
    background-color: transparent;
    border: none;
    text-align: center;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s,
        border-radius 0.2s;
    overflow: hidden;
    cursor: pointer;
}

@mixin btn-square {
    display: flex;
    width: 4.8rem;
    height: 4.8rem;
    padding: 8px;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
    border-radius: 1.6rem;

    &-icon {
        width: 3.2rem;
        height: 3.2rem;
    }

    @include mobile{
        border-radius: 1.2rem;
        width: 4rem;
        height: 4rem;
    }
}
