extends layout/layout

block head
    include layout/layout-components/head.pug

block header 
    include layout/layout-components/header.pug

block content 
    include layout/layout-components/main.pug

block footer 
    include layout/layout-components/footer.pug
