doctype html
html
  head 
    meta(name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no")
    link(rel="stylesheet", href="./style/main.css")
body 
    div.text-content
        p.text-content__p.body Из теории Гераклита, даже если она применима лишь к чувственным объектам, вытекает определение знания как восприятия и следует, что знание бывает о том, что находится в становлении, а не о том, что есть.
        p.text-content__p.body Из теории Гераклита, даже если она применима лишь к чувственным объектам, вытекает определение знания как восприятия и следует, #[a(href="#").text-content__link что знание бывает] о том, что находится в становлении, а не о том, что есть.
        
        ul.text-content__mark-list.body 
            li.text-content__mark-item Нам говорят, что поскольку 6 больше 4, но меньше 12,6 одновременно и велико и мало, что является противоречием.
            li.text-content__mark-item В этом вопросе имеются некоторые затруднения совершенно элементарного характера
                ul.text-content__inner-list 
                    li.text-content__inner-item Нам говорят, что поскольку 6 больше 4, но меньше 12,6 одновременно и велико и мало, что является противоречием.
                    li.text-content__inner-item Сократ теперь выше Теэтета, который является не вполне еще выросшим юношей;
                    li.text-content__inner-item Но через несколько лет Сократ будет ниже Теэтета.
            li.text-content__mark-item Поэтому Сократ одновременно и высокого и низкого роста.
        
        ol.text-content__num-list.body
            li.text-content__num-item Знание есть восприятие;
            li.text-content__num-item Человек есть мера всех вещей;
            li.text-content__num-item Все находится в состоянии постоянного движения;

        figure.table
            table
                thead 
                    tr 
                        th.button Название мероприятия
                        th.th-mobile.button Дата
                        th.button Время
                        th.button Организатор
                tbody 
                tr.body-small 
                    td III Международный форум «Математические методы и модели в высокотехнологичном производстве»
                    td 28 октября
                    td 12:00 - 17:00
                    td Центр развития профессиональных компетенций ГУАП
                tr.body-small  
                    td Игра «Квиз» для всех студентов Санкт-Петербурга
                    td 28 октября
                    td 12:00 - 17:00
                    td Центр развития профессиональных компетенций ГУАП
                tr.body-small  
                    td 11-я международная научная конференция «Философия и культура информационного общества»
                    td 28 октября
                    td 12:00 - 17:00
                    td Центр развития профессиональных компетенций ГУАП
        
        figure.image 
            img(src="/assets/images/figcaption.png", alt="")
            figcaption.caption Подписи выводятся шрифтом уменьшенного кегля. Точка в конце подписи не ставится

        h2.text-h2 Заголовок второго уровня
        h3.text-h3 Заголовок третьего уровня

    script(src="./js/app.min.js")