div.accordion 
    details.accordion__details(name="answer")
        summary.accordion__summary
            div.accordion__title(role="question", aria-label="answer-1")
                span.accordion__text.text-h4 Как зарегистрироваться на сайте?
                span.accordion__btn
    div.accordion__content(id="answer-1", role="description")
        div.accordion__content-inner 
            div.accordion__content-body 
                p.body В главном корпусе университета располагаются ректорат, административные, учебные и научные подразделения вуза, большинство деканатов, а также приемная комиссия. Здание было построено в 1847 году для офицерского корпуса казарм лейб-гвардии конного полка. 
                p.body Здание находится на набережной реки Мойки напротив Юсуповского дворца, рядом с Центральным военно-морским музеем и Санкт-Петербургским Почтамтом.

