article.educational-card(id="js-educational-card") 
    div.educational-card__top
        picture.educational-card__picture 
            img(src="/assets/images/education1.jpg" alt="img").educational-card__img
        div.tag.tag--16.tag.button.educational-card__tag(id="js-tag") Внеучебные
    div.educational-card__info 
        a(href="#").educational-card__title.text-h4 Образовательный материал №1
        span.educational-card__descr.body Второй день был визионерским: студенты формировали видение идеального амбассадора и выявляли свои точки роста для приближения к этому образу.
        
    