a(href="", download="").file.body-small
  div.file__svg-default
    include ../../../public/svg/file.svg
  div.file__svg-hover
    include ../../../public/svg/fileHover.svg
  div.file__block 
    span.file__title Программа мероприятия VII Открытый отборочный чемпионат ФГАОУ ВО ГУАП по стандартам Агентства развития профессий и навыков
    span.file__text.caption PDF, 99.9 KB 
