article.graduate-card
  picture.graduate-card__picture
    img(src="/assets/images/graduate.jpg" alt="img").graduate-card__img
  div.graduate-card__info
      span.graduate-card__title.text-h4 Константинопольский Константин
      div.graduate-card__content
        span.graduate-card__description.body-small Здание находится на набережной реки Мойки напротив Юсуповского дворца, рядом с Центральным военно-морским музеем и Санкт-Петербургским Почтамтом.
