div.input
    div.input__svg-left
        include ../../../public/svg/success.svg
    input.input__field.input__field--success.body-small-bold(type="text", placeholder="success")
    div.input__svg-right
        include ../../../public/svg/x.svg

div.input
    div.input__svg-left
        include ../../../public/svg/error.svg
    input.input__field.input__field--error.body-small-bold(type="text", placeholder="error")
    div.input__svg-right
        include ../../../public/svg/x.svg