a(href="#").link.body-small
    svg.link__icon  
        include ../../../assets/svg/link.svg
    span link

a(href="#").link.link--m.body
    svg.link__icon  
        include ../../../assets/svg/link.svg
    span link

a(href="#").link.link__text.body-small link
a(href="#").link.link__text.body link


a(href="#").link.link__social.body-small-bold
    svg.link__social-icon 
        include ../../../assets/svg/vk.svg
    span link