article.news-card
    picture.news-card__picture 
        img(src="/assets/images/news1.jpg" alt="img").news-card__img
    div.news-card__info 
        a(href="#").news-card__title.text-h4 Название мероприятия
        div.news-card__description 
            span.news-card__text.body-small 31 октября
            span.news-card__text.body-small Университет

    