div.select
  div.select__top(id="js-select")
    span.select__title.button Выберите из списка
    svg.select__icon
      include ../../../assets/svg/chevron-down.svg
  span.select__caption.caption caption
  div.select__menu(id="js-select-menu") 
    label.check
      input(type="checkbox" name="variants" value="Вариант-1").check__input
      span.check__mark
      span.check__label.body-small Вариант-1
    label.check 
      input(type="checkbox" name="variants" value="Вариант-2").check__input
      span.check__mark
      span.check__label.body-small Вариант-2
    label.check 
      input(type="checkbox" name="variants" value="Вариант-3").check__input
      span.check__mark
      span.check__label.body-small Вариант-3
    label.check 
      input(type="checkbox" name="variants" value="Вариант-4").check__input
      span.check__mark
      span.check__label.body-small Вариант-4
    label.check 
      input(type="checkbox" name="variants" value="Вариант-5").check__input
      span.check__mark
      span.check__label.body-small Вариант-5
    