div.footer__container 
    div.footer__top
        a(href="#").footer__logo
            include ../../../../assets/svg/logo.svg
        nav.footer__nav 
            div.footer__nav-block
                a(href="#").footer__link.button Контакты
                a(href="#").footer__link.footer__link--icon.button Основной сайт
                    include ../../../../assets/svg/arrow-top-right.svg
            div.footer__nav-block
                div.footer__dropdown-container
                    a(href="#").footer__link--icon.footer__link--iconreverse.footer__link--dropdown.button company
                        include ../../../../assets/svg/social-tg.svg
                    div.footer__dropdown-content.caption Проректор по учебной работе — Константинопольский Константин Константинович
                div.footer__dropdown-container
                    a(href="#").footer__link--icon.footer__link--iconreverse.footer__link--dropdown.button company
                        include ../../../../assets/svg/social-tg.svg
                    div.footer__dropdown-content.caption Проректор по учебной работе — Константинопольский Константин Константинович
                a(href="mailto:company@gmail.com").footer__link.button company@gmail.com
            div.footer__nav-socials
                a(href="#").footer__icon.button
                    include ../../../../assets/svg/social-vk.svg
                a(href="#").footer__icon.button
                    include ../../../../assets/svg/social-tg.svg   
    div.footer__bottom
        div.footer__copyright.caption © 2023 Онлайн-площадка
        a(href="#").footer__icon
            include ../../../../assets/svg/paraweb.svg