@mixin btn-icons {
    display: flex;
    gap: 8px;
    color: var(--text-color);
    transition: color 0.2s;

    &-icon {
        width: 24px;
        height: 24px;
    }

    &:hover {
        @media (hover: hover) {
            color: var(--text-secondary-promo-color);
        }
    }

    &--disabled {
        color: var(--text-blind-color);
        pointer-events: none;
    }
}
